[Application]
name=LifeScript
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=passwordj:main
icon=newicon-alt.gif

[Python]
version=3.6.0
bitness=64

[Include]
# Importable packages that your application requires, one per line
packages = passwordj
